*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

$Unbounded: 'Unbounded', sans-serif;
$Inter: 'Inter', sans-serif;


.main_container_header {
    max-width: 1296px;
    margin: 0 auto; 
    padding: 21px 16px;
}

.main_container {
    max-width: 1310px;
    padding: 0 12px;
    margin: 0 auto;
}

body {
    background-color: #F6F6F6;
    // background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

header {
    .main_container_header {
        border-radius: 0px 0px 25px 25px;
        background:  #FFF;
        box-shadow: -1px 1px 5px -1px rgba(176,176,176,0.75);
        -webkit-box-shadow: -1px 1px 5px -1px rgba(176,176,176,0.75);
        -moz-box-shadow: -1px 1px 5px -1px rgba(176,176,176,0.75);
        display: flex;
        align-items: center;

        .header_btn {
            margin-left: 270px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 183px;
            height: 55px;
            color: #FFF;
            text-align: center;
            font-family: $Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 106.523%; 
            background:  linear-gradient(95deg, #B82500 2.06%, #E36630 93.25%);
            border: 1px solid #F68B5D;
        }
    }
}

.home {
    margin-top: 68px;
    margin-bottom: 120px;
    .main_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .home_text {
            h1 {
                color: #141414;
                font-family: $Unbounded;
                font-size: 56px;
                font-style: normal;
                font-weight: 300;
                line-height: 59px;

                span {
                    font-weight: 400;
                }
            }

            .media_home_img {
                display: none;
            }

            p {
                margin-top: 16px;
                margin-bottom: 24px;
                max-width: 582px;
                color: var(--color-dark, #141414);
                font-family: 'PT Root UI',sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px; /* 112.5% */
            }

            .home_link {
                cursor: pointer;
                border: none;
                border-radius: 30px;
                width: 183px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                color: #FFF;
                text-align: center;
                font-family: $Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 106.523%; 
                background:  linear-gradient(95deg, #B82500 2.06%, #E36630 93.25%);
                border: 1px solid #F68B5D;
            }
        }
    }
}

.statistic {
    margin-bottom: 120px;
    .main_container {
        h4 {
            color:  #141414;
            text-align: center;
            font-family: $Unbounded;
            font-size: 32px;    
            font-style: normal;
            font-weight: 300;
            line-height: 106.523%;
            margin-bottom: 16px;
        }

        .statistic_in {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 87px;
            .statistic_block {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h3 {
                    color: #141414;
                    text-align: center;
                    font-family: $Unbounded;
                    font-size: 96px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 106.523%;
                }

                span {
                    color:  #333;
                    text-align: center;
                    font-family: 'PT Root UI',sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 106.523%; 
                }
            }
        }
    }
}

.article {
    .main_container {
        h3 {
            color: #141414;
            font-family: $Unbounded;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 106.523%;
            margin-bottom: 29px;
        }

        .article_in {
            display: flex;
            // align-items: start;
            gap: 24px;

            .article_text {
                overflow: hidden;
                width: 100%;
                background-color: #FFF;
                border-radius: 5px;
                ul {
                    li {                    
                        border-top: 1px solid #B9B9B9;
                        border-bottom: 1px solid  #B9B9B9;
                        span {
                            display: block;                            
                            max-width: 400px;
                            padding: 30px 16px;
                            color: #000;
                            font-family: $Inter;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 106.523%; /* 25.565px */
                        }
                    }
                }
            }

            .article_img {
                margin-right: 24px;
                img {
                    height: 100%;
                }
            }

        }
    }
}

.grafic {
    margin-top: 68px;
    margin-bottom: 183px;
    .main_container {
        h4 {
            color: #141414;
            font-family: $Unbounded;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 106%;
            margin-bottom: 78px;
        }
        .grafic_in {
            display: flex;
            align-items: stretch;
            gap: 114px;
            .grafic_left {
                padding: 16px 0 22px 0;
                width: 306px;
                border-radius: 30px;
                border: 1px solid #B9B9B9;
                .icon {
                    margin-left: 16px;
                }
                .grafic_mobile {
                    display: none;
                }

                .grafic_left_bottom {
                    margin-top: 40px;
                    margin-left: 16px;
                    display: flex;
                    align-items: end;
                    gap: 4px;
                    h3 {
                        color: #141414;
                        font-family: $Unbounded;
                        font-size: 27.789px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 106.523%;

                        span {
                            font-size: 22px;
                        }
                    }
                    .grafic_img {
                        width: 100%;
                    }
                    p {
                        color: #141414;
                        font-family: $Inter;
                        font-size: 16.674px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 106.523%;
                    }
                }
            }
            .grafic_right {
                background-color: #FFF;
                border: 1px solid #B9B9B9;
                border-radius: 25px;      
                overflow: hidden;  
                p {
                    color: #141414;
                    font-family: 'PT Root UI',sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    b {
                        display: none !important;
                    }
                }
                
                .head_block {
                    height: 27px;
                    border-bottom: 1px solid #B9B9B9;
                    
                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        border-right: 1px solid #B9B9B9;
                    }

                    .one {
                        justify-content: start;
                    }
                }
                
                .grafic_table_block {
                    height: 43px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        border-right: 1px solid #B9B9B9;
                    }

                    .one {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 10px;
                    }
                }

                .grafic_table_block {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .one {
                    padding-left: 16px;
                    text-align: left;
                    width: 197px;
                }

                .one_title {
                    text-align: center;
                }
                .two {
                    width: 97px;
                }
                .three {
                    width: 114px;
                }

                .three:last-child {
                    border: none;
                }

                .grey_block {
                    background-color: #F7F7F7;
                }
            }
        }
    }
}

.useful {
    .main_container {
        h4 {
            color: #141414;
            font-family: $Unbounded;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 106%;
            margin-bottom: 78px;
        }

        .useful_in {
            display: flex;
            gap: 24px;

            .useful_card {

                .useful_card_block {
                    max-width: 306px;
                    margin-left: auto;    
                }

                h4 {
                    color: #141414;
                    font-family: $Unbounded;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 106%;
                    margin-bottom: 103px;
                }
                p {
                    color: #141414;
                    font-family: 'PT Root UI',sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    margin: 8px 0;
                }

                a {
                    cursor: pointer;
                    border: none;
                    border-radius: 30px;
                    width: 183px;
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    color: #FFF;
                    text-align: center;
                    font-family: $Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 106.523%; 
                    background:  linear-gradient(95deg, #B82500 2.06%, #E36630 93.25%);
                    border: 1px solid #F68B5D;
                }
            }
        }

        .slider_title {
            display: none;
        }

        .usefulSlider {
            display: none;
            .swiper-wrapper {
                .swiper-slide {
                    .useful_card_block {
                        .slider_img {
                            width: 100%;
                        }
                        p {
                            margin: 4px 0;
                            color: #141414;
                            font-family: 'PT Root UI',sans-serif;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                        a {
                            cursor: pointer;
                            border: none;
                            border-radius: 30px;
                            width: 161px;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 4px;
                            color: #FFF;
                            text-align: center;
                            font-family: $Inter;
                            font-size: 11.701px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 106.523%;
                            background:  linear-gradient(95deg, #B82500 2.06%, #E36630 93.25%);
                            border: 1px solid #F68B5D;
                        }
                    }
                }
            }
        }
    }
}



.article_home {
    .main_container {
        margin-bottom: 80px;
        display: flex;
        align-items: end;
        gap: 10px;
        justify-content: space-between;

        .article_home_left {
            h1 {
                margin-top: 42px;
                margin-bottom: 30px;
                max-width: 746px;
                color: #141414;
                font-family: $Unbounded;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 50px; /* 104.167% */
            }
            p {
                max-width: 746px;
                color: #141414;
                font-family: 'PT Root UI',sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 100% */
            }
        }

        .article_home_right {
            h6 {
                display: block;
                margin-bottom: 4px;
                color: var(--color-another-text, #757575);
                font-family: 'PT Root UI',sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 100% */
            }
            
            a {
                border-bottom: 1px solid #B2B2B2;
                padding: 12px 0;
                max-width: 400px;
                display: flex;
                align-items: center;
                gap: 50px;
                .clamp_link {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                span {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    color: #757575;
                    font-family: 'PT Root UI',sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
}

.article_parametris {
    .main_container {
        max-width: 856px;
        margin: 0 auto;
        h4 {
            color: #141414;
            font-family: $Unbounded;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            margin-bottom: 8px;
        }
        
        p {
            color: #141414;
            font-family: 'PT Root UI',sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 110% */
            margin-bottom: 24px;
        }

        ul {
            padding-left: 22px;
            li {
                list-style: disc;
                color: #141414;
                font-family: 'PT Root UI',sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px; /* 110% */
                margin-bottom: 16px;
            }
            margin-bottom: 8px;
        }
    }
}

.main_block_text {
    blockquote {
        max-width: 881px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: start;
        padding: 8px 10px 8px 25px;
        color: #141414;
        font-family: 'PT Root UI',sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
        border-radius: 0px 5px 5px 0px;
        background: #FFF;
    
        &::before {
            content: '';
            position: absolute;
            left: -1px;
            border-radius: 2px;
            top: 10%;
            background-color: #D93C10;
            width: 2px;
            height: calc(100% - 16px);
        }
    
        img {
            margin-left: 35px;
        }
    }
    
    p {
        margin: 24px auto 0  auto;
        max-width: 856px;
        color: #141414;
        font-family: 'PT Root UI',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 110% */
        margin-bottom: 24px;
    }
}

.article_img_main {
    margin: 32px auto;
    max-width: 1296px;
    img {
        width: 100%;
        border-radius: 5px;
    }
}

.article_parametris_bottom {
    .main_container {
        max-width: 856px;
        margin: 0 auto;
        h4 {
            color: #141414;
            font-family: $Unbounded;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 34px;
            margin-bottom: 8px;
        }

        .article_main_text {
            color: var(--color-dark, #141414);
            font-family: 'PT Root UI',sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 110% */
            margin-bottom: 24px;
        }

        h6 {
            color: #141414;
            font-family: 'PT Root UI',sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 6  00;
            line-height: 22px; /* 110% */
            margin-bottom: 8px;
        }

        p {
            color:#141414;
            font-family: 'PT Root UI',sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 110% */
            margin-bottom: 16px;
        }

        .article_two_img {
            max-width: 647px;
            margin: 32px auto;
            img {
                width: 100%;
            }
        }

        .article_two_text {
            margin-bottom: 24px;
        }

        ul {
            padding-left: 22px;
            padding-bottom: 12px;
            li {
                list-style: disc;
                color: #141414;
                font-family: 'PT Root UI',sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px; /* 110% */
                margin-bottom: 12px;
            }
        }

        .article_imgs {
            display: flex;
            align-items: start;
            justify-content: space-between;
            gap: 25px;
            margin: 32px 0;

            img {
                border-radius: 5px;
            }
        }
    }
}


.article_bottom_block {
    margin: 0 10px 100px 10px;
    margin-bottom: 100px;
    blockquote {
        max-width: 881px;
        margin: 24px auto;
        position: relative;
        display: flex;
        align-items: start;
        padding: 8px 10px 8px 25px;
        color: #141414;
        font-family: 'PT Root UI',sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
        border-radius: 0px 5px 5px 0px;
        background: #FFF;
    
        &::before {
            content: '';
            position: absolute;
            left: -1px;
            margin: auto 0;
            border-radius: 2px;
            top: 0;
            bottom: 0;
            background-color: #D93C10;
            width: 2px;
            height: 55px;
        }
    
        img {
            margin-left: 35px;
        }
    }

    p {
        max-width: 856px;
        margin: 0 auto;
        color: var(--color-dark, #141414);
        font-family:' PT Root UI',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 110% */
    }

    h5 {
        max-width: 858px;
        margin: 32px auto 8px auto;
        color: #141414;
        font-family: $Unbounded;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
    }

    .mini_calculation {
        max-width: 856px;
        margin: 24px auto;

        li {
            margin-bottom: 15px;
            color:  #141414;
            font-family: 'PT Root UI',sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;

            // b {
            //     font-weight: 500;
            // }
        }
    }
}

.useful_desktop {
    display: block;
}

.useful_desktop {
    .main_container {
        .usefulSliderTwo {
            .swiper-wrapper {
                .swiper-slide {
                    .useful_card_block {
                        overflow: hidden;
                        border-radius: 5px;
                        border: 1px solid #B9B9B9;

                        img {
                            width: 100%;
                        }
                        p {
                            padding-left: 8px;
                            margin: 6px 0 16px 0;
                            color: #000;
                            font-family: $Inter;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 106.523%;
                        }

                        a {
                            margin-left: 8px;
                            margin-bottom: 5px;
                            border-radius: 15px;
                            display: block;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 142px;
                            height: 28px;
                            border: 2px solid #F68B5D;
                            color: #D93C10;
                            font-family: $Inter;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 106.523%; /* 17.044px */
                        }
                    }
                }
            }
        }
    }
}


.footer_article {
    margin-top: 54px;
}
footer {
    margin-top: 81px;
    .main_container {
        border-radius: 5px 5px 0px 0px;
        background: #E3E3E3;
        p {
            text-align: center;
            padding: 20px 0;
            color: #B2B2B2;
            font-family: 'PT Root UI',sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
        }
    }
}

@media (max-width: 1200px) {
    .grafic {
        .main_container {
            .grafic_in {
                gap: 10px;
                .grafic_left {
                    width: 250px;
                    .grafic_img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .article {
        .main_container {
            .article_in {
                gap: 10px;
                .article_img {
                    flex: 1;
                    margin-right: 10px;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .article_text {
                    flex: 1;
                }
            }
        }
    }

    .useful {
        .main_container {
            .useful_in {
                .use_img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 993px) {
    .home {
        .main_container {
            .home_text {
                h1{
                    font-size: 40px;
                }
            }
            .home_img {
                img {
                    width: 100%;
                }
            }
        }
    }

    .article_home {
        .main_container {
            align-items: start;
            justify-content: start;
            flex-direction: column;
        }
    }

    .grafic {
        .main_container {
            .grafic_in {
                flex-direction: column;

                .grafic_left {
                    margin: 0 auto;
                    width: 400px;
                }
            }
        }
    }

    .article_parametris_bottom {
        .main_container {
            .article_imgs {
                gap: 24px;
                img {
                    width: 47%;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    header {
        .main_container_header {
            padding: 16px;
            display: flex;
            justify-content: space-between;
            a {
                img {
                    display: block;
                    width: 121px;
                    height: 30px;
                }
            }
            .header_btn {
                margin-left: 0;
                width: 99px;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 106.523%;
                height: 30px;
            }
        }
    }

    .home {
        margin-top: 24px;
        .main_container {
            .home_text {
                width: 100%;
                h1 {
                    font-size: 20px;
                    line-height: 22px;
                    letter-spacing: 0.4px;
                    margin-bottom: 16px;
                }

                .media_home_img {
                    display: block;
                    width: 100%;
                }
                p {
                    max-width: 100%;
                    margin-top: 10px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px
                }

                .home_link {
                    width: 100%;
                }
            }
            .home_img {
                img {
                    display: none;
                }
            }
        }
    }

    .statistic {
        .main_container {
            h4 {
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: 106.523%;
            }

            .statistic_in {
                gap: 32px;
                .statistic_block {
                    h3 {
                        font-size: 46px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 106.523%;
                    }
                    span {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 106.523%;
                    }
                }
            }
        }
    }

    .article {
        .main_container {
            h3 {
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 106.523%;
                margin-bottom: 15px;
            }

            .article_in {
                flex-direction: column;

                .article_img {
                    margin-right: 0;
                    img {
                        width: 100%;
                        height: 363px;
                    }
                }

                .article_text {
                    transform: translateY(-70px);

                    ul {
                        li {
                            border-top: none;
                            span {
                                max-width: 217px;
                                padding: 15px 9px;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 106.523%;
                            }
                        }
                    }
                }
            }
        }
    }

    .grafic {
        margin-bottom: 24px;
        margin-top: 0;
        .main_container {
            h4 {
                margin-bottom: 13px;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 106.523%;
            }
            .grafic_in {
                .grafic_left {
                    width: 100%;
                    .grafic_img {
                        display: none;
                    }
                    .grafic_mobile {
                        display: block;
                        width: 100%;
                    }

                    .grafic_left_bottom {
                        h3 {
                            font-size: 14.621px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 106.523%;
                            span {
                                font-size: 11.697px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 106.523%;
                            }
                        }
                        p {
                            font-size: 8.773px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 106.523%
                        }
                    }
                }
                .grafic_right {
                    padding: 6px 12px;
                    // margin: 0 14px;
                    .one {
                        padding-left: 0;
                        width: auto;
                    }
                    .grafic_table_block {
                        width: 100%;
                        flex: 1;
                        .two {
                            display: none;
                        }
                        p {
                            border-right: none;
                        }
                        .media_none {
                            display: none;
                        }
                        .one {
                            span {
                                display: none;
                            }
                            b {
                                display: block !important;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }
                }
            }
        }
    }

    .useful {
        .main_container {
            padding: 0;
            h4 {
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 106.523%; 
                margin-bottom: 33px;
            }

            .useful_in {
                display: none;
            }

            .slider_title {
                margin-bottom: 4px;
                display: block;
                text-align: center;
            }
            .usefulSlider {
                display: block;
            }
        }
    }


    .article_home {
        .main_container {
            margin-bottom: 24px;
            .article_home_left {
                h1 {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    margin: 8px 0 20px 0;
                }

                p {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    margin-bottom: 24px;
                }
            }
            
            .article_home_right {
                h6 {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    margin-bottom: 8px;
                }

                a {
                    padding: 4px 0;
                    span {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    .article_parametris {
        .main_container {
            h4 {
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                margin-bottom: 8px;
            }

            p {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                margin-bottom: 16px;
            }

            ul {
                padding-left: 15px;
                margin-bottom: 5px;
                li {
                    list-style: decimal;
                    margin-bottom: 11px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }
    }

    .main_block_text {
        blockquote {
            padding: 8px 10px 8px 17px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;

            img {
                margin-left: 10px;
            }
        }

        p {
            margin-top: 16px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
    }

    .article_parametris_bottom {
        .main_container {

            .article_two_text {
                margin-bottom: 16px;
            }
            
            .article_main_text {
                display: none;
            }
            h4 {
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                margin-bottom: 8px;
            }
    
            h6 {
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;
                margin-bottom: 4px;
            }
    
            p {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                margin-bottom: 8px;
            }

            ul {
                padding-left: 15px;
                padding-bottom: 0;
                li {
                    margin-bottom: 19px;
                    list-style: decimal;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                }
                li:last-child {
                    margin-bottom: 15px;
                }
            }

        }
    }

    .article_bottom_block {
        margin: 0 10px;
        blockquote {
            padding: 8px 10px 8px 15px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
        }

        p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }

        h5 {
            margin: 24px 0 16px 0;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }
        .mini_calculation {
            margin: 16px 0;

            li {
                margin-bottom: 15px;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;

                b {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
            
        }

    }
    
    .useful_desktop {
        margin: 32px 0;

        .main_container {
            .usefulSliderTwo {
                .swiper-wrapper {
                    .swiper-slide {
                        .useful_card_block {
                            p {
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 106.523%;
                                margin-bottom: 10px;
                            }

                            a {
                                width: 148px;
                                height: 18px;
                                margin-right: 9px;
                                max-width: 100%;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 106.523%;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer_article {
        margin-top: 0;
    }
}