* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.main_container_header {
  max-width: 1296px;
  margin: 0 auto;
  padding: 21px 16px;
}

.main_container {
  max-width: 1310px;
  padding: 0 12px;
  margin: 0 auto;
}

body {
  background-color: #F6F6F6;
}

header .main_container_header {
  border-radius: 0px 0px 25px 25px;
  background: #FFF;
  box-shadow: -1px 1px 5px -1px rgba(176, 176, 176, 0.75);
  -webkit-box-shadow: -1px 1px 5px -1px rgba(176, 176, 176, 0.75);
  -moz-box-shadow: -1px 1px 5px -1px rgba(176, 176, 176, 0.75);
  display: flex;
  align-items: center;
}
header .main_container_header .header_btn {
  margin-left: 270px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 183px;
  height: 55px;
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.523%;
  background: linear-gradient(95deg, #B82500 2.06%, #E36630 93.25%);
  border: 1px solid #F68B5D;
}

.home {
  margin-top: 68px;
  margin-bottom: 120px;
}
.home .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .main_container .home_text h1 {
  color: #141414;
  font-family: "Unbounded", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: 59px;
}
.home .main_container .home_text h1 span {
  font-weight: 400;
}
.home .main_container .home_text .media_home_img {
  display: none;
}
.home .main_container .home_text p {
  margin-top: 16px;
  margin-bottom: 24px;
  max-width: 582px;
  color: var(--color-dark, #141414);
  font-family: "PT Root UI", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
}
.home .main_container .home_text .home_link {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  width: 183px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.523%;
  background: linear-gradient(95deg, #B82500 2.06%, #E36630 93.25%);
  border: 1px solid #F68B5D;
}

.statistic {
  margin-bottom: 120px;
}
.statistic .main_container h4 {
  color: #141414;
  text-align: center;
  font-family: "Unbounded", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 106.523%;
  margin-bottom: 16px;
}
.statistic .main_container .statistic_in {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 87px;
}
.statistic .main_container .statistic_in .statistic_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.statistic .main_container .statistic_in .statistic_block h3 {
  color: #141414;
  text-align: center;
  font-family: "Unbounded", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 106.523%;
}
.statistic .main_container .statistic_in .statistic_block span {
  color: #333;
  text-align: center;
  font-family: "PT Root UI", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 106.523%;
}

.article .main_container h3 {
  color: #141414;
  font-family: "Unbounded", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.523%;
  margin-bottom: 29px;
}
.article .main_container .article_in {
  display: flex;
  align-items: stretch;
  gap: 24px;
}
.article .main_container .article_in .article_text {
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
}
.article .main_container .article_in .article_text ul li {
  border-top: 1px solid #B9B9B9;
  border-bottom: 1px solid #B9B9B9;
}
.article .main_container .article_in .article_text ul li span {
  display: block;
  max-width: 400px;
  padding: 27px 16px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.523%; /* 25.565px */
}
.article .main_container .article_in .article_img img {
  height: 100%;
}

.grafic {
  margin-top: 68px;
  margin-bottom: 183px;
}
.grafic .main_container h4 {
  color: #141414;
  font-family: "Unbounded", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 106%;
  margin-bottom: 78px;
}
.grafic .main_container .grafic_in {
  display: flex;
  align-items: stretch;
  gap: 114px;
}
.grafic .main_container .grafic_in .grafic_left {
  padding: 16px 0 22px 0;
  width: 306px;
  border-radius: 30px;
  border: 1px solid #B9B9B9;
}
.grafic .main_container .grafic_in .grafic_left .icon {
  margin-left: 16px;
}
.grafic .main_container .grafic_in .grafic_left .grafic_left_bottom {
  margin-top: 40px;
  margin-left: 16px;
  display: flex;
  align-items: end;
  gap: 4px;
}
.grafic .main_container .grafic_in .grafic_left .grafic_left_bottom h3 {
  color: #141414;
  font-family: "Unbounded", sans-serif;
  font-size: 27.789px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.523%;
}
.grafic .main_container .grafic_in .grafic_left .grafic_left_bottom h3 span {
  font-size: 22px;
}
.grafic .main_container .grafic_in .grafic_left .grafic_left_bottom .grafic_img {
  width: 100%;
}
.grafic .main_container .grafic_in .grafic_left .grafic_left_bottom p {
  color: #141414;
  font-family: "Inter", sans-serif;
  font-size: 16.674px;
  font-style: normal;
  font-weight: 400;
  line-height: 106.523%;
}
.grafic .main_container .grafic_in .grafic_right {
  background-color: #FFF;
  border: 1px solid #B9B9B9;
  border-radius: 25px;
  overflow: hidden;
}
.grafic .main_container .grafic_in .grafic_right p {
  color: #141414;
  font-family: "PT Root UI", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.grafic .main_container .grafic_in .grafic_right .head_block {
  height: 27px;
  border-bottom: 1px solid #B9B9B9;
}
.grafic .main_container .grafic_in .grafic_right .head_block p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 1px solid #B9B9B9;
}
.grafic .main_container .grafic_in .grafic_right .head_block .one {
  justify-content: start;
}
.grafic .main_container .grafic_in .grafic_right .grafic_table_block {
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grafic .main_container .grafic_in .grafic_right .grafic_table_block p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 1px solid #B9B9B9;
}
.grafic .main_container .grafic_in .grafic_right .grafic_table_block .one {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.grafic .main_container .grafic_in .grafic_right .grafic_table_block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grafic .main_container .grafic_in .grafic_right .one {
  padding-left: 16px;
  text-align: left;
  width: 197px;
}
.grafic .main_container .grafic_in .grafic_right .one_title {
  text-align: center;
}
.grafic .main_container .grafic_in .grafic_right .two {
  width: 97px;
}
.grafic .main_container .grafic_in .grafic_right .three {
  width: 114px;
}
.grafic .main_container .grafic_in .grafic_right .three:last-child {
  border: none;
}
.grafic .main_container .grafic_in .grafic_right .grey_block {
  background-color: #F7F7F7;
}

.useful .main_container h4 {
  color: #141414;
  font-family: "Unbounded", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 106%;
  margin-bottom: 78px;
}
.useful .main_container .useful_in {
  display: flex;
  gap: 24px;
}
.useful .main_container .useful_in .useful_card .useful_card_block {
  max-width: 306px;
  margin-left: auto;
}
.useful .main_container .useful_in .useful_card h4 {
  color: #141414;
  font-family: "Unbounded", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 106%;
  margin-bottom: 103px;
}
.useful .main_container .useful_in .useful_card p {
  color: #141414;
  font-family: "PT Root UI", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 8px 0;
}
.useful .main_container .useful_in .useful_card a {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  width: 183px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.523%;
  background: linear-gradient(95deg, #B82500 2.06%, #E36630 93.25%);
  border: 1px solid #F68B5D;
}

footer {
  margin-top: 81px;
}
footer .main_container {
  border-radius: 5px 5px 0px 0px;
  background: #E3E3E3;
}
footer .main_container p {
  text-align: center;
  padding: 20px 0;
  color: #B2B2B2;
  font-family: "PT Root UI", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}/*# sourceMappingURL=style.css.map */